body {
    background-color: #f0f2f5;
    font-family: Ariel, sans-serif;
    padding: 20px;
}

h1 {
    color: #2F4FA9;
}

li {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
}